:root{
    --blackRed: #4d1716;
    --darkRed: #c05352;
}

/* @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.bg-gradient-amc .views-number {
    transition: --num 1s;
    counter-set: num var(--num);
    counter-reset: num 0;
}
.bg-gradient-amc .views-number::after {content: counter(num);}
.bg-gradient-amc:hover{
    --num: 100;
} */
.bg-gradient-amc{
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0, 0, 0, .6)), url('https://i.pinimg.com/originals/c2/cc/e2/c2cce2e74a52dfe01fa778aab618a897.jpg') ;
    /* background-image: linear-gradient(transparent, rgb(0 0 0 / 30%)), url('/aldair/image-exemplo/?s=1920x1080&c=43a047') ; */
}
html, body {
    font-family: 'Poppins', 'Open sans', 'ubuntu', sans-serif !important;
}
.cookeis{
    width: 25vw;
    right: 2%;
    bottom: 0;
    z-index: 999999;
}

.botoes a {
    height: 45px;
    width: 50%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.text-dark-red{
    color: var(--darkRed)
}

.bg-dark-red {
    color: #fff;
    background-color: var(--darkRed);
    border-color: var(--darkRed);
    transition: all .5s ease-in-out;
}

.bg-dark-red:hover{
    color: #fff !important;
    background-color: var(--blackRed);
    border-color: var(--blackRed);
}

.bg-gray {
    color: white;
    background-color: darkgray;
    border-color: darkgray;
    transition: all .5s ease-in-out;
}

.bg-gray:hover{
    color: #fff !important;
    background-color: gray;
    border-color: gray;
}

#footer{ border-top: .25rem solid var(--darkRed);}

.whatsappme__button {
    background-color: #43a047;
    width: 3em;
    height: 3em;
    left: 1rem;
    bottom: 1rem;
    transition: background 1s ease-in-out;
}
.whatsappme__button:hover{
    background-color:#095e2d;
    transition: background 1s ease-in-out;
}

#scroll-to-top {
    right: 1rem;
    bottom: 1rem;
    transition: 1s opacity ease-in-out;
}

#scroll-to-top a {
    color: white;
    width:1.5rem;
    height:1.5rem;
    display:block;
    font-weight: 900!important;
}

#scroll-to-top:hover{
    opacity:1!important;
    transition: 1s opacity ease-in-out;
}

.services {
    transition: all .7s ease-in-out;
}

/* .services:hover .content p {
    font-size: 9.5pt !important;
} */

.services:hover {
    transform: scale(1.1);
    transition: all .7s ease-in-out;
}

.navbar-nav .nav-item:after {
    content: "";
    display: block;
    transform: scaleX(0);
    border-bottom: .2rem solid transparent;
    transition: all 250ms ease-in-out;
}
.navbar-nav .nav-item {
    position: relative;
    line-height: 1.2em;
}
.navbar-nav .nav-item:hover:after {
    transform: scaleX(1);
    border-color: var(--darkRed);
}
.navbar-nav .nav-item .nav-link {
    color: black;
    /* font-weight: lighter !important; */
    font-size: 0.9rem;
    /* text-transform: uppercase; */
    letter-spacing: -0.05rem;
    transition: all .6s ease-in-out;
}

.navbar-brand img {
    width: 160px;
}
.nav-link.text-secondary {transition: all 700ms ease-in-out;}
.nav-link.text-secondary:hover {color: white!important;opacity: 1!important; transition: all 700ms ease-in-out;}

.set > .p-3 {
    border: 2px transparent;
    transform: scaleX(1);
    transition: all 200ms ease-in-out;
}
.set > .p-3:hover {
    border-style:solid;
    border-color:#dee2e6;
    transform: scale(1.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    
}

.cajicua-container img {
    filter: grayscale(1);
    transition: all .8s ease-in
}

.cajicua-container img:hover {
    filter: none;
    transition: all .8s ease-out
}

@media screen and (max-width: 390px){
    .cookeis {
        left:0;
        right:0;
        width:100vw;
        bottom:0;
        /* position:fixed; */
    }
    .navbar-brand {
        display: block;
        width: 180px;
    }
    .navbar-brand img {
        width: 80%;
    }
}